<nav class="navbar navbar-default">
    <!--<nav class="navbar navbar-default" ng-controller="LoginCtrl">-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="sveucilisnaLogoNav hidden-xs" ui-sref="teams.list"><img src="assets/images/sveucilisna-logo.jpg" class="sveucilisnaLogoNav" alt="" /></a>

            <a class="sveucilisnaLogoNavMobile visible-xs-block" ui-sref="teams.list"><img src="assets/images/sveucilisna-logo.jpg" class="sveucilisnaLogoNav" alt="" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->

    </div><!-- /.container-fluid -->
</nav>

