<section class="page-header page-header-xs">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 margin-left-50">
                <h1 translate="HEAD_ADMINISTRATION"></h1>
                <!-- page tabs -->
                <ul class="page-header-tabs list-inline">
                    <li><a href="#teams" data-toggle="tab">Ekipe</a></li>
                    <li><a href="#players" data-toggle="tab">Igrači</a></li>
                </ul><!-- /page tabs -->
            </div>

        </div>
    </div>
</section>