<p class="lead">
    <a ui-sref="^.list" class="btn btn-large btn-default">
        <i class="glyphicon glyphicon-arrow-left"></i>
    </a>
    <a ng-click="save()" href="" class="btn btn-default pull-right">
        <i class="glyphicon glyphicon-floppy-save"></i>
    </a>
</p>

<div class="form-group">
    <label><b>Ime</b></label>
    <input class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="Ime">
</div>
<div class="form-group">
    <label><b>Prezime</b></label>
    <input class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="Prezime">
</div>
<div class="form-group">
    <label><b>Korisničko ime</b></label>
    <input class="form-control" id="userName" name="userName" ng-model="user.userName" placeholder="Korisničko ime">
</div>
<div class="form-group">
    <label><b>Lozinka</b></label>
    <input class="form-control" id="password" name="password" ng-model="user.password" placeholder="Lozinka">
</div>



<hr>